# This is an example environment file for the application. Please copy this file to .env and fill in the required values.

## Salt Key for Secrets in Database
AWF_SECRET_KEY=<your-secret-key-here>
